@charset "utf-8";

body{
	background-color:#bbbbbb;
	font-family:sans-serif,monospace;
}
main{
	text-align:center;
	font-size:large;
	color:#ffffff;
	background-color:#666666;
}

a:link { color: #ffffff; }
a:visited { color: #ffffff; }
a:hover { color: #ffffff; }
a:active { color: #ff8000; }

table#max{
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
	border-spacing:0;*/	
}
table#pc_contents{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	border-spacing:0;	
}
table#phone_contents{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;	
}
table#profile{
	/*padding:0px 10px;
	width:100%;*/
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	border-spacing:0;	
}
tr.head{
	background-color:#0080FF;
}
td.head{
	padding:20px;
	text-align:left;
	font-size:72px;
	font-weight: bolder;
}
tr.link{
	height:35px;
	background-color:#303030;
}
td.profile{
	text-align:left;
}
td.lavel{
	text-align:center;
	color:#ff8000;
	font-weight:bold;
}
table#foot{
	height:35px;
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	background-color:#303030;
}


@media only screen and (min-device-width: 641px) {

main{
	margin:0 auto;
	/*width:60%;*/
	width:1280px;
}
table#phone_contents{
	display: none;	
}
tr.head{
	height:150px;
}
	
}


@media only screen and (max-device-width: 640px) {

main{
	width:100%;
}
table#pc_contents{
	display: none;	
}
tr.head{
	height:100px;
}
	
}
