@charset "utf-8";

body{
	background-color:#bbbbbb;
	font-family:'ＭＳ Ｐゴシック',monospace;
}
main{
	text-align:left;
	font-size:large;
	color:#ffffff;
	background-color:#666666;
}
table#head{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;	
}
tr.head{
	background-color:#0080FF;
}
td.head{
	padding:20px;
	font-size:72px;
}
td.link{
	text-align:center;
}
tr.link{
	height:35px;
	background-color:#303030;
}
div#foot{
	height:35px;
	padding:5;
	width:100%;
	background-color:#303030;
	text-align:center;	
}


@media only screen and (min-device-width: 641px) {

main{
	margin:0 auto;
	width:60%;
}
tr.head{
	height:150px;
}		
}


@media only screen and (max-device-width: 640px) {

main{
	width:100%;
}	
tr.head{
	height:100px;
}	
}
